{% extends 'base.html' %}
{% block title %}搜索{% endblock %}
{% block position %}搜索{% endblock %}
{% block position2 %}搜索{% endblock %}

{% block body_content %}

    <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
        <div class="container">
            <h3 class="search_title">关键词"{{ search_title }}"搜索结果</h3>
            <div class="row" style="justify-content: center">
            {% if data %}
                <!-- 图书循环 -->
                <div class="book_ul">
                {# 循环图书 #}
                {% for book in data %}
                <!-- Start Single Product -->
                    <div class="book_li">
                        <h3><a href="{% url 'myauth:details' book.id %}">{{ book.title }}</a></h3>
                        <div class="book_con">{{ book.content }}</div>
                        <div class="book_info"><a class="shopbtn" href="{% url 'myauth:details' book.id %}">阅读全文</a></div>
                    </div>
                <!-- Start Single Product -->
                {% endfor %}
                </div>
                <!-- End 图书 -->
            {% else %}
                <div class="alert alert-danger" role="alert">抱歉，暂无关于'{{ search_title }}'的文章</div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}